absl-py==2.0.0
aiofiles==23.2.1
aiohttp==3.8.5
aiohttp-retry==2.8.3
aiosignal==1.3.1
altair==5.1.1
altgraph==0.17.4
annotated-types==0.5.0
anyio==3.7.1
arabic-reshaper==3.0.0
arrow==1.3.0
art==6.4
asgiref==3.7.2
asn1crypto==1.5.1
astunparse==1.6.3
async-timeout==4.0.3
attrs==23.1.0
Babel==2.12.1
backoff==1.11.1
beautifulsoup4==4.10.0
bidict==0.21.3
billiard==3.6.4.0
blinker==1.6.2
blis==1.2.0
branca==0.6.0
browser-cookie3==0.19.1
bs4==0.0.1
cachetools==5.3.1
catalogue==2.0.10
certifi==2024.12.14
cffi==1.15.1
characterai==1.0.1
chardet==3.0.4
charset-normalizer==2.0.6
click==8.1.7
cloudpathlib==0.20.0
colorama==0.4.6
comtypes==1.1.10
confection==0.1.5
contextlib2==21.6.0
contourpy==1.1.0
cryptography==41.0.7
cssselect==1.2.0
cssselect2==0.7.0
curl_cffi==0.7.1
CurrencyConverter==0.17.10
cycler==0.11.0
cymem==2.0.11
DateTime==5.3
decorator==4.4.2
deepface==0.0.79
distro==1.9.0
dj-database-url==0.5.0
Django==3.0.6
django-rest-framework-mongoengine==3.4.1
django-widget-tweaks==1.4.8
djongo==1.3.6
EasyProcess==1.1
engineering-notation==0.10.0
entrypoint2==1.1
et-xmlfile==1.1.0
exceptiongroup==1.1.3
execnet==2.0.2
fake-useragent==1.2.1
fastapi==0.103.1
feedfinder2==0.0.4
feedparser==6.0.11
ffmpy==0.3.1
filelock==3.12.3
fire==0.5.0
Flask==2.3.3
flask-babel==3.1.0
Flask-Cors==4.0.0
flatbuffers==23.5.26
folium==0.14.0
fonttools==4.42.1
freetype-py==2.3.0
frozenlist==1.4.0
fsspec==2023.9.0
future==0.18.2
gast==0.5.4
gdown==4.7.1
geocoder==1.38.1
geographiclib==2.0
geopy==2.4.0
gitdb==4.0.10
GitPython==3.1.34
google==3.0.0
google-ai-generativelanguage==0.6.6
google-api-core==2.19.0
google-api-python-client==2.133.0
google-auth==2.23.2
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.0.0
google-generativeai==0.7.2
google-pasta==0.2.0
googleapis-common-protos==1.63.1
gradio==3.42.0
gradio_client==0.5.0
grpcio==1.64.1
grpcio-status==1.62.2
gTTS==2.4.0
gunicorn==20.0.4
h11==0.14.0
h5py==3.9.0
html5lib==1.1
httpcore==0.17.3
httplib2==0.22.0
httpx==0.24.1
huggingface-hub==0.16.4
idna==3.2
imageio==2.34.1
imageio-ffmpeg==0.5.1
importlib-metadata==6.8.0
importlib-resources==6.0.1
iniconfig==2.0.0
instaloader==4.10
itsdangerous==2.1.2
itypes==1.2.0
jieba3k==0.35.1
Jinja2==3.1.2
joblib==1.3.2
jsonschema==4.19.0
jsonschema-specifications==2023.7.1
keras==2.14.0
Keras-Preprocessing==1.1.2
keyboard==0.13.5
kiwisolver==1.4.5
langcodes==3.5.0
language_data==1.3.0
Levenshtein==0.21.1
libclang==16.0.6
loc==0.0.2
lxml==4.9.3
lz4==4.3.2
MailGw-Temporary-Email==0.0.2
map==1.3.0
marisa-trie==1.2.1
Markdown==3.3.3
markdown-it-py==3.0.0
MarkupSafe==2.1.3
matplotlib==3.7.2
mdurl==0.1.2
ml-dtypes==0.2.0
mock==5.1.0
MouseInfo==0.1.3
moviepy==1.0.3
mpmath==1.3.0
mss==9.0.1
mtcnn==0.1.1
multidict==6.0.4
murmurhash==1.0.12
mysqlclient==2.2.1
names==0.3.0
networkx==3.4.2
newspaper3k==0.2.8
nltk==3.8.1
numpy==1.25.2
oauthlib==3.2.2
openai==0.28.0
opencage==2.3.0
opencv-contrib-python==4.8.1.78
opencv-python==4.8.1.78
openpyxl==3.1.2
opt-einsum==3.3.0
orjson==3.9.5
oscrypto==1.3.0
outcome==1.2.0
packaging==23.1
pandas==2.1.0
path==16.9.0
path.py==12.5.0
pbr==5.11.1
pefile==2023.2.7
phonenumbers==8.13.22
Pillow==10.0.0
playsound==1.3.0
pluggy==1.3.0
preshed==3.0.9
proglog==0.1.10
prompt-toolkit==3.0.39
proto-plus==1.23.0
protobuf==4.24.2
psutil==5.9.7
pyaes==1.6.1
pyarrow==13.0.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
PyAudio==0.2.14
PyAutoGUI==0.9.53
pycairo==1.25.1
PyCharacterAI @ git+https://github.com/Xtr4F/PyCharacterAI@40c714e58a80af573275b5ccc0d793c6f11e189c
pycparser==2.21
pycryptodome==3.18.0
pycryptodomex==3.18.0
pydantic==2.3.0
pydantic_core==2.6.3
pydeck==0.8.0
pydub==0.25.1
PyExecJS==1.5.1
pygame==2.5.1
PyGetWindow==0.0.9
Pygments==2.16.1
pyHanko==0.21.0
pyhanko-certvalidator==0.26.3
pyinstaller==6.0.0
pyinstaller-hooks-contrib==2023.9
pyjokes==0.6.0
PyJWT==2.8.0
pymailtm==1.1.1
pymongo==3.11.2
Pympler==1.0.1
PyMsgBox==1.0.9
pyparsing==3.0.9
PyPasser==0.0.5
pypdf==3.17.3
PyPDF2==3.0.1
pyperclip==1.8.2
pypiwin32==223
pypng==0.20220715.0
PyRect==0.1.4
pyscreenshot==3.1
PyScreeze==0.1.28
pyserial==3.5
PySocks==1.7.1
pytest==7.4.3
pytest-shutil==1.7.0
python-bidi==0.4.2
python-dateutil==2.8.2
python-docx==1.1.2
python-multipart==0.0.6
python-pptx==0.6.23
python-vlc==3.0.20123
PyTMX==3.32
pyttsx3==2.90
pytube==15.0.0
pytube3==9.6.4
pytweening==1.0.4
pytz==2023.3.post1
pytz-deprecation-shim==0.1.0.post0
pywin32==306
pywin32-ctypes==0.2.2
PyYAML==6.0.1
qrcode==7.4.2
random-password-generator==2.2.0
random-username==1.0.2
rapidfuzz==3.2.0
ratelim==0.1.6
ratelimit==2.2.1
redis==3.5.3
referencing==0.30.2
regex==2023.10.3
reportlab==4.0.8
requests==2.26.0
requests-file==1.5.1
requests-oauthlib==1.3.1
retina-face==0.0.13
retrying==1.3.4
revChatGPT==1.2.1
rich==13.5.2
rlPyCairo==0.3.0
rpds-py==0.10.2
rsa==4.9
ruamel.yaml.clib==0.2.7
scikit-learn==1.3.1
scipy==1.11.3
seaborn==0.13.2
selenium==4.12.0
semantic-version==2.10.0
sgmllib3k==1.0.0
shellingham==1.5.4
simpleneighbors==0.1.0
six==1.16.0
sketchpy==0.1.7
sklearn==0.0.post9
smart-open==7.1.0
smmap==5.0.0
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.2.1
spacy==3.8.4
spacy-legacy==3.0.12
spacy-loggers==1.0.5
SpeechRecognition==3.8.1
spotify==0.10.2
spotipy==2.24.0
sqlparse==0.2.4
srsly==2.5.1
starlette==0.27.0
streamlit==1.26.0
svg.path==6.3
svglib==1.5.1
svgpathtools==1.6.1
svgwrite==1.4.3
sympy==1.13.1
Telethon==1.32.0
tenacity==8.2.3
tensorboard==2.14.1
tensorboard-data-server==0.7.1
tensorflow==2.14.0
tensorflow-estimator==2.14.0
tensorflow-intel==2.14.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.3.0
thinc==8.3.4
threadpoolctl==3.2.0
tiktoken==0.5.2
times==0.7
tinycss2==1.2.1
tinysegmenter==0.3
tk-tools==0.16.0
tldextract==5.1.1
tls-client==0.2.1
toml==0.10.2
toolz==0.12.0
torch==2.5.1
tornado==6.3.3
tqdm==4.66.1
trio==0.22.2
trio-websocket==0.10.4
turtle==0.0.1
twilio==8.9.0
TwoCaptcha==0.0.1
typer==0.15.1
types-python-dateutil==2.8.19.14
typing_extensions==4.12.2
tzdata==2023.3
tzlocal==4.3.1
undetected-chromedriver==3.5.4
uritemplate==4.1.1
uritools==4.0.2
urllib3==1.26.7
uvicorn==0.23.2
validators==0.22.0
vine==5.0.0
wasabi==1.1.3
watchdog==3.0.0
wcwidth==0.2.6
weasel==0.4.1
webencodings==0.5.1
websocket-client==1.6.2
websockets==11.0.3
Werkzeug==2.3.7
whitenoise==5.1.0
wikipedia==1.4.0
wordcloud==1.9.3
wrapt==1.14.1
wsproto==1.2.0
xhtml2pdf==0.2.13
XlsxWriter==3.2.0
xmltodict==0.12.0
yarl==1.9.2
youtube-dl==2021.12.17
zipp==3.16.2
zope.interface==6.1
